<!-- app/views/posts/_form.html.erb -->
<%
=begin%>
 <%= form_with(model: Post.new, local: false) do |f| %>
  <div>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content, "Content" %>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.submit "Create Post" %>
  </div>
<% end %> 
<%
=end%>


 <!--  <h5>Comentarios</h5> -->
  <%= render @comments %>
  <%= form_with(model: [@post, @comment]) do |f| %>
      <%= f.text_area :body %>
      <%= f.submit "Comentar" %>
  <% end %>