



<h1>Crear un nuevo Post</h1>

<%= form_with model: @post, local: true do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> impidieron que el post se guardara:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "Título" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content, "Contenido" %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit "Crear Post" %>
  </div>
<% end %>

<%= link_to 'Volver', posts_path %>
